
/scratch_work/latin_conjugator/target
/scratch_work/latin_conjugator/target
/scratch_work/latin_conjugator/target/debug/.fingerprint/latin_conjugator-74b33fc3a3ed0120
/scratch_work/latin_conjugator/target
/scratch_work/latin_conjugator/target
/scratch_work/game/target
/scratch_work/latin_conjugator/target
/scratch_work/slov_client/target
